* {
    color: rgb(116, 109, 109);
    text-shadow: -1px 2px 4px rgba(0,0,0,0.27);
}

.menu {
    display: inline-flex;
}

.menu img {
    width: 180px;
    height: 130px;
    margin-top: -10px;
}

.about {
    float: right;
    display: inline-flex;
    margin-right: 30px;
    margin-top: 10px;
}

.about p {
    margin-right: 40px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 400ms;
}

.about p:hover {
    border-bottom: 2px solid gray;
    transition: all 400ms;
}

.about b {
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
}

.about a {
    text-decoration: none;
}

#info {
    margin-top: 100px;
    margin-left: 200px;
}

.inicio {
    font-family: "Press Start 2P", system-ui;
    cursor: default;
}

.inicio p {
    transition: all 1s;
}

.inicio p:hover {
    opacity: 60%;
    transition: all 1s;
}

.meio1 {
    margin-top: -30px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}

.meio1 h1 {
    transition: all 1.4s;
    cursor: default;
}

.meio1 h1:hover {
    color: rgb(148, 142, 142);
    transition: all 1.4s;
}

.meio2 {
    font-family: "Open Sans", sans-serif;
    opacity: 60%;
    margin-top: -50px;
}

.meio2 h1 {
    transition: all 1.2s;
    cursor: default;
}

.meio2 h1:hover {
    color: rgb(182, 172, 172);
    transition: all 1s;
}

.fim {
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
    margin-top: 35px;
    opacity: 50%;
}

.redes {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 58px;
    position: absolute;
}

.redes img {
    margin-top: 5px;
}

.user {
    margin-right: 300px;
    margin-top: 100px;
    padding: 0.59em 0.59em 1em;
    background-color: white;
    border-radius: 120px;
    transition: all 400ms;
    position: absolute;
    right: 0;
    box-shadow: -15px 18px 46px -8px rgba(0,0,0,0.75);
}

.user p {
    font-family: "Open Sans", sans-serif;
    margin-right: 15.5px;
    margin-top: -40px;
    opacity: 0%;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: all 200ms;
    left: 15px;
}

.user:hover p {
    font-family: "Open Sans", sans-serif;
    opacity: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 25px;
    transition: all 400ms;
    position: relative;
}

.user p:hover {
    border-radius: 2px;
    border-bottom: 2px solid gray;
    transition: all 400ms;
}

.user img {
    border-radius: 100px;
    cursor: pointer;
}

.user:hover {
    padding: 10px 10px 10px;
    border-radius: 120px 120px 12px 20px;
    transition: all 400ms;
}

#info {
    position: absolute;
    text-decoration: none;
}

.boxwork {
}

.works h1{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 32%;
    right: 0;
    left: 0;
}



.works {
    
}

.work1 img, .work2 img, .work3 img {
    border-radius: 20px;
    box-shadow: -15px 18px 46px -8px rgba(0,0,0,0.75);
    transition: all 400ms;
}

.work1, .work2, .work3 {
    display: inline;
    margin: 50px 50px 50px 65px;
    right: 0;
}

.work1 img:hover, .work2 img:hover, .work3 img:hover {
    width: 500px;
    height: 300px;
    transition: all 400ms;
}
